# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Datasets
FairFace_Dataset/
Emotions_Dataset/
utkFace_Age_Dataset/
Dress_color_dataset/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db